@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
  display: inline-block;
  font-family: 'Glyphter', sans-serif;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   transform: translateY(2px);
   margin: 8px;
}
.icon-phone:before{content:'\0041';}
.icon-location:before{content:'\0042';}
.icon-skype:before{content:'\0043';}
.icon-email:before{content:'\0044';}
.icon-vk:before{content:'\0045';}

@font-face {
  font-family: 'PFDinTextPro';
  src: url('../fonts/PFDinTextPro.ttf');
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 90%;
  }

  .hide-on-notebook-screens {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .hide-on-tablet-screens {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .hide-on-phone-screens {
    display: none;
  }
}

* {
  font-family: 'PFDinTextPro', sans-serif;
  box-sizing: border-box;
  transition: 300ms;
}

a {
  text-decoration: none;
}

body[class="demo-page"] {
    pointer-events: none;
}

body[class="demo-page"]:after {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  content: "Предварительный просмотр";
  color: white;
  font-size: 8vw;
  opacity: .4;
  z-index: 9999999;
  pointer-events: none;
}

body.disabled-scroll {
  overflow: hidden;
}