header {
  border-bottom: solid 1px rgba(255,255,255,.5);
  background: rgba(0,0,0,.35);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header * {
  color: white;
}

header span, header a {
  line-height: 48px;
  word-wrap: unset;
}

header.hidden {
  top: -48px;
}

.vcard {
  display: flex;
  justify-content: space-around;
}

.vcard__elem {
  line-height: 48px;
}