.parallax-mirror,
.parallax-slider {
  transition: none;
}

.mainpage {
  overflow: hidden;
  background: black;
}
.main-slideshow-bg {
  height: 100vh;
  filter: brightness(.8);
  transition: none;
}
.main-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10%;
}

.what-is-lavash {
  color: white;
  text-align: center;
  font-size: 2.5vw;
  text-shadow: 0 0 75px black;
  line-height: 1em;
  margin-bottom: 15px;
}
.what-is-lavash span {
  font-size: 2em;
  line-height: 1em;
  text-transform: uppercase;
}

.mainpage__order-button {
  font-size: calc(16px + 1em);
  padding: 10px 20px;
  border: solid white 1px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.25);

  &:hover {
    background: rgba(255, 255, 255, .25);
  }
  &:active {
    background: rgba(255, 255, 255, .75);
  }
}

.cart-icon {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 20px;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
  margin-top: 15px;
  font-size: 22px;
  min-width: 0;
  min-height: 0;
  position: fixed;
  left: 0;
  overflow: hidden;

  .cart-content__close-button {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 40px;
    left: 10px;
    top: 10px;

    &:before {
      position: absolute;
      width: 100%;
      height: 6px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(45deg);
      background: black;
      display: block;
      content: "";
    }
    &:after {
      position: absolute;
      width: 100%;
      height: 6px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(-45deg);
      background: black;
      display: block;
      content: "";
    }
  }

  .cart-content__cost {
    text-align: left;
    margin-left: 40px;
  }

  .cart-content {
    color: black;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;

    .cart-content__order-button {
      padding: 15px;
      border: solid black 1px;
      text-align: center;
      margin: 15px 40px;
      cursor: pointer;
      
      &.disabled {
        opacity: .5;
        cursor: default;
      }
    }

    .shopping-cart-empty {
      opacity: 0.5;
      margin: 10px;
      text-align: center;
    }

    .cart-content__close-button {
      pointer-events: none;
    }

    .cart-content__title {
      text-transform: uppercase;
      text-align: center;
      font-size: calc(22px + 1vw);
      margin: 20px;
    }

    .cart-content__list {
      margin: 40px;
      text-align: left;
      overflow-y: auto;
      max-height: 50vh;

      .cart-content__order-item {
        width: 100%;
        min-height: 50px;
        padding: 10px 15px;
        background: rgba(0, 0, 0, .05);

        .cart-content__order-item-number,
        .cart-content__order-item-price,
        .cart-content__order-item-multiplication-sign {
          display: inline;
          opacity: .5;
        }

        .cart-content__order-item-cost {
          float: right;
        }

        .cart-content__order-item-edit-button {
          display: inline-block;
          margin-right: 20px;
          opacity: 0.5;
          text-align: right;
          margin-left: 15px;
          border-bottom: dotted black 1px;
          cursor: pointer;

          &:hover {
            opacity: 0.75;
          }
        }
        .cart-content__order-item-edit-prompt {
          display: none;

          .cart-content__order-item-edit-prompt-number {
            width: 15%;
          }

          .cart-content__order-item-edit-prompt-ok,
          .cart-content__order-item-edit-prompt-cancel{
            opacity: .5;
            color: green;
            border-bottom: dotted green 1px;
            margin-left: 10px;
            cursor: pointer;
            &:hover {
              opacity: .75;
            }
          }

          .cart-content__order-item-edit-prompt-cancel {
            color: red;
            border-bottom: dotted red 1px;
          }
        }

        .cart-content__order-item-remove-button {
          display: inline-block;
          opacity: 0.5;
          color: red;
          float: right;
          cursor: pointer;
          border-bottom: dotted red 1px;

          &:hover {
            opacity: 0.75;
          }
        }

        &.editing {
          .cart-content__order-item-number,
          .cart-content__order-item-price,
          .cart-content__order-item-multiplication-sign,
          .cart-content__order-item-edit-button {
            display: none;
          }

          .cart-content__order-item-edit-prompt {
            display: inline;
          }
        }
      }
      .cart-content__order-item:nth-child(2n - 1) {
        background: rgba(0, 0, 0, .1);
      }
    }
  }

  .cart-icon__image {
    vertical-align: middle;
  }

  &:hover {
    background: rgba(255, 255, 255, .2);
    padding-left: 40px;
  }
  &:active {
    background: rgba(255, 255, 255, .5);
  }
}

.cart-icon.opened {
  padding: 0;
  background: white;
  box-shadow: 0 0 100px rgba(0, 0, 0, .5);
  cursor: default;

  .cart-icon__text,
  .cart-icon__image,
  .cart-icon__items-count{
    display: none;
  }

  .cart-content {
    opacity: 1;
    width: calc(100px + 40vw);
    height: auto;
    //transition: height cubic-bezier(.8,0,.3,1) .5s, width ease-in-out .3s;

    .cart-content__close-button {
      pointer-events: all;
    }
  }
}

.features {
  background: #192433;
  color: white;
  padding: 8vh 0 16vh;
}
.features__title,
.payment__title,
.order__title,
.recommended__title {
  text-transform: uppercase;
  text-align: center;
  font-size: calc(2vw + 1.5em);
  margin-bottom: 4vh;
}
.features-list {
  display: flex;
  justify-content: space-around;
  height: 200px;
  flex-wrap: wrap;
}
.features__feature {
  font-size: 2vw;
  width: 25%;
  padding: 15px;
  display: inline-block;
  color: #cccccc;
}
.features__img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.payment {
  padding: 8vh 0;
  color: white;
  position: relative;
}
.payment__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(.4);
  background: url('../img/payment-bg.jpg') no-repeat;
  background-size: cover;
  box-shadow: 0 0 20vw black inset;
}
.payment__subtitle {
  font-size: calc(2vw + 1em);
  margin: 2vh 0;
}
.payment__block {
  padding: 15px;
  margin: 15px auto;
  // border: rgba(255,255,255,.5) 1px solid;
  width: calc(224px + 30vw)
}
.payment__comment {
  font-size: calc(1vw + 1em);
}
.payment__button {
  text-transform: uppercase;
  padding: 15px;
  border: solid white 1px;
  border-radius: 5px;
  display: inline-block;
  user-select: none;
  cursor: pointer;
  text-align: center;
  line-height: 1em;
}
.payment__button:hover {
  background: rgba(255,255,255,.25);
}
.payment__button:active {
  background: rgba(255,255,255,.1);
}
.payment__button.activated {
  background: rgba(255,255,255,.5);
}

.payment__shipment-wrapper {
  margin: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.payment__shipment-wrapper.opened {
  height: auto;
  margin: 15px;
  opacity: 1;
}
.payment__pickup-wrapper {
  margin: 15px;
  height: 0;
  overflow: hidden;
  opacity: 0;
}
.payment__pickup-wrapper span:last-of-type {
  font-style: italic;
  line-height: 2em;
}
.payment__pickup-wrapper.opened {
  height: auto;
  opacity: 1;
}

.payment__pickup-wrapper *, ymaps * { // Including fullscreen map
  transition: none;
}
.payment__map {
  width: 100%;
  height: calc(100px + 25vh);
}

.order {
  padding: 8vh 0;
  background: #192433;
  color: white;
}
.order__price {
  font-size: calc(1vw + 1em);
  font-style: italic;
  color: rgb(220, 220, 255);
  margin: 15px 0;
}
.order__price-comment {
  font-size: 16px;
  opacity: .75;
}
.order__sets-available-wrapper {
  margin: 15px;
}
.order__sets-available {
  display: inline-block;
  margin: 0;
  padding-left: 0;
}
.order__set {
  margin: 5px 0;
}
.order__text {
  font-size: calc(1vw + 1em);
}
.order__contact, .order__add-to-cart {
  color: white;
  font-size: calc(1vw + 1em);
  display: inline-block;
  padding: 10px;
  border: solid white 1px;
  margin: 10px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, .25);
  }
  &:active {
    background: rgba(255, 255, 255, .75);
  }
}

.recommended {
  background-color: #131c28;
  color: white;
  padding: 8vh 0;
}
.recommended__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.recommended__product {
  width: 200px;
  position: relative;
  cursor: pointer;
}
.recommended__product * {
  transition: none;
}
.recommended__product.hidden {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: none;
}
.recommended__more-wrapper {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  min-height: 0;
}
.recommended__more-list {
  display: inline-block;
  font-size: calc(2vw + 10px);
  padding: 0;
  margin: 15px 0;
}
.recommended__product.selected {
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;

  * {
    cursor: auto;
  }

  .recommended__more-wrapper {
    width: 100%;
    height: 100%;
    opacity: 1;
    padding: calc(5vw + 50px) 5vw 15px 5vw;
    min-height: 200px;
  }
  .recommended__more-header {
    font-size: calc(4vw + 5px);
    margin: 10px 0;
  }
  .recommended__more-span {
    margin: 10px 0;
    font-size: calc(1vw + 15px);
  }
  .recommended__more-close-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 5vw;
    top: 5vw;
    cursor: pointer;

    &:before,
    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 20%;
      background: white;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  .recommended__product-image-wr {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .recommended__product-image {
    border-radius: 0;
    filter: brightness(.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .recommended__product-price {
    opacity: 0;
  }
  .recommended__product-title {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
  }
  &:hover {
    cursor: auto;

    .recommended__product-image {
      transform: none;
      cursor: auto;
    }
  }
}
.recommended__product-title {
  padding: 10px 0;
}
.recommended__product-image-wr {
  width: 80%;
  height: 90%;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px black inset;
}
.recommended__product:hover .recommended__product-image {
  transform: scale(1.2);
}
.recommended__product-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  transition: 300ms;
}
.recommended__product-price {
  position: absolute;
  padding: 5px 8px;
  top: 60%;
  right: 5%;
  z-index: 0;
}
.recommended__product-price:before {
  display: block;
  content: "";
  position: absolute;
  background-color: #9b2020;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  box-shadow: -4px 6px 15px rgba(0, 0, 0, .5);
}
.recommended__product-price:after {
  display: block;
  content: "";
  position: absolute;
  background-color: #601010;
  width: 10px;
  height: 100%;
  top: 20%;
  right: 0;
  z-index: -2;
  transform: matrix(1, -1, 0, 1, 0, 0);
}

footer {
  padding: 4vh 0;
  background: #0b121c;
}
footer .container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}
.footer__title {
  font-size: calc(1vw + 1.5em);
  text-transform: uppercase;
  margin: 15px 0;
  color: rgba(255, 255, 255, .5);
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer__contacts * {
  color: rgba(255, 255, 255, .5);
  text-align: left;
}

.vacancy {
  display: flex;
  color: rgba(255, 255, 255, .5);
  margin: 10px 10vw;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.vacancy__phone {
  font-size: 1.5em;
  margin: 0 15px;
}

@media screen and (max-width: 940px) {
  .recommended__product {
    width: 300px;
    margin-bottom: 15%;
  }
  .recommended__product-price {
    right: 7%;
  }
  .cart-icon.opened .cart-content {
    width: calc(50px + 60vw);
  }
}

@media screen and (max-width: 740px) {
  .features-list {
    height: 450px;
  }
  .features__feature {
    width: 50%;
    font-size: 4vw;
  }
  .recommended__product {
    width: 250px;
  }
  .recommended__product-price {
    right: 6%;
    top: 62%;
  }
  .cart-icon.opened .cart-content {
    width: 75vw;
  }
}

@media screen and (max-width: 650px) {
  .what-is-lavash {
    font-size: 6vw;
  }
  .payment__block {
    width: 100%;
  }
  .recommended__product {
    width: 200px;
  }
  .recommended__product-price {
    right: 5%;
    top: 56%;
  }
  .cart-icon.opened {
    top: 0;
    margin: 0;

    .cart-content {
      width: 100vw;
      height: 100vh;
    }

    .cart-content__list {
      margin: 10px 0;
      font-size: .75em;
    }
  }
}

@media screen and (max-width: 400px) {
  .features__feature {
    margin-bottom: 20px;
    font-size: 5vw;
    padding: 0;
  }
  .what-is-lavash span {
    line-height: 1.5em;
  }
  .payment__block {
    padding: 0;
    border: none;
  }
  .payment__pickup-wrapper,
  .payment__shipment-wrapper {
    padding: 15px 0 0 0;
  }

  .cart-icon__text {
    display: none;
  }
}