.navbar-wrapper {
  text-align: right;
  background: linear-gradient(to bottom, rgba(0,0,0,.35), transparent);
  position: fixed;
  left: 0;
  top: 48px;
  width: 100%;
  z-index: 99999;
}
.navbar-wrapper.hidden-header {
  top: 0;
}

.navbar {
  text-align: right;
}

.navbar__title {
  display: inline-block;
  margin: 0;
  float: left;
  color: white;
  text-transform: uppercase;
  line-height: 75px;
}

.navbar__link {
  text-transform: uppercase;
  margin-left: 20px;
  color: white;
  line-height: 75px;
}

.navbar__link--current-page {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.navbar__trigger {
  margin-top: 5%;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  float: right;
  display: none;
}

.navbar__graphics {
  width: 40px;
  height: 6px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.navbar__graphics:before,
.navbar__graphics:after {
  display: block;
  content: "";
  width: 40px;
  height: 6px;
  background: white;
  position: absolute;
  left: 0;
  top: -15px;
  transition: 300ms;
}
.navbar__graphics:after {
  top: auto;
  bottom: -15px;
}

.navbar__graphics.opened {
  background: transparent;
}
.navbar__graphics.opened:before {
  top: 0;
  transform: rotate(45deg);
}
.navbar__graphics.opened:after {
  bottom: 0;
  transform: rotate(-45deg);
}

@media screen and (max-width: 940px) {
  .navbar__trigger {
    display: block;
  }

  .navbar {
    display: none;
    padding: 20vh 0;
    background: rgba(0,0,0,.85);
    position: fixed;
    left: 0;
    top: 0;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .navbar.opened {
    display: flex;
    animation: navbar-open 300ms;
  }

  .navbar.opened .navbar__title {
    font-size: 2.5em;
  }

  body.disabled-scroll {
    overflow: hidden;
  }
}

@keyframes navbar-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}