.result-success {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    text-transform: uppercase;
    color: green;
    font-size: calc(26px + 1vw);
  }
  .comment {
    color: grey;
    margin: 10px;
  }
  .main-site-button {
    padding: 10px;
    border: black solid 1px;
    cursor: pointer;
    color: black;
    display: block;
    margin: 10px  auto;
    border-radius: 10px;
    max-width: 400px;
  }
}

.result-fail {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    text-transform: uppercase;
    color: red;
    font-size: calc(26px + 1vw);
  }
  .comment {
    color: grey;
    margin: 10px;
  }
  .main-site-button {
    padding: 10px;
    border: black solid 1px;
    cursor: pointer;
    color: black;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 400px;
  }
}