.title {
  font-size: calc(24px + 1vw);
}

.data-form,
.check-data {
  &.hidden {
    display: none;
  }
}

.items-list {
  margin: auto;
  width: 50%;
}

.items-list__item {
  width: 100%;
  min-height: 50px;
  padding: 10px 15px;
  text-align: left;
  background: rgba(0, 0, 0, .05);;

  &:nth-child(2n - 1) {
    background: rgba(0, 0, 0, .1);
  }
}

.items-list__item-number,
.items-list__item-price,
.items-list__item-multiplication-sign {
  display: inline;
  opacity: .5;
}

.items-list__item-cost {
  float: right;
}

.cart-content__order-item-cost {
  float: right;
}

.total-cost {
  text-align: center;
  font-size: calc(24px + 1vw);
}

.data-form__input {
  width: 500px;
  display: block;
  padding: 10px;
  margin: 10px auto;
  outline: none;
  border: solid rgba(0, 0, 0, .25) 1px;
}

#input-comment {
  width: 500px;
  min-width: 500px;
  max-width: 500px;
  display: block;
  padding: 10px;
  margin: 10px auto;
  min-height: 40px;
  max-height: 400px;
  border: solid rgba(0, 0, 0, .25) 1px;
}

.wrong-input {
  background: rgba(255, 0, 0, .25);
}

.back-to-store-button,
.next-step-button {
  padding: 15px;
  display: inline-block;
  border: solid black 1px;
  cursor: pointer;
  width: 40%;
  max-width: 225px;
}

.we-will-contact {
  color: grey;
}

.check-data__title {
  font-size: calc(16px + 1vw);
  margin: 10px;
}

.check-data__name,
.check-data__phone,
.check-data__address,
.check-data__comment {
  text-align: left;
  margin: 15px auto;
  width: 50%;
}

.back-to-data-form {
  margin: 20px auto;
  padding: 0;
  border: none;
  border-bottom: dotted black 1px;
  width: auto;
  display: inline-block;
}

.submit-order-button {
  padding: 15px;
  display: block;
  margin: auto;
  border: solid black 1px;
  cursor: pointer;
  width: 100%;
  max-width: 225px;
}

@media screen and (max-width: 940px) {
  .check-data__name,
  .check-data__phone,
  .check-data__address,
  .check-data__comment,
  .items-list {
    width: 65%;
  }
}

@media screen and (max-width: 740px) {
  .check-data__name,
  .check-data__phone,
  .check-data__address,
  .check-data__comment,
  .items-list {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .check-data__name,
  .check-data__phone,
  .check-data__address,
  .check-data__comment,
  .items-list {
    width: 100%;
  }
  .data-form__input,
  #input-comment {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-left: 0 !important;
  }
  .back-to-store-button,
  .next-step-button {
    display: block;
    margin: 10px auto;
  }
  .back-to-store-button {
    margin: 20px auto;
    padding: 0;
    border: none;
    border-bottom: dotted black 1px;
    width: auto;
    display: inline-block;
  }
}

@media screen and (max-width: 400px) {

}