<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Submit order</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="styles/common.css">
  <link rel="stylesheet" href="styles/submit-order.css">

  <script src="scripts/shopping_cart.js" defer></script>

  <script src="scripts/lib/jquery.min.js" defer></script>
  <script src="scripts/lib/jquery.easing.js" defer></script>
  <script src="scripts/lib/handlebars-v4.0.12.js" defer></script>
  <script src="scripts/submit-order.js" defer></script>
</head>
<body>

  <div class="container">
    <span class="title">Оформление заказа</span>
    <hr>

    <section class="data-form">
      <div class="data-form__title">Заполните поля, чтобы оформить заказ</div>
      <form>
        <label>
          <input id="input-fname" class="data-form__input" type="text" placeholder="Имя" required>
        </label>
        <label>
          <input id="input-sname" class="data-form__input" type="text" placeholder="Фамилия" required>
        </label>
        <label>
          <input id="input-mname" class="data-form__input" type="text" placeholder="Отчество (необязательно)">
        </label>
        <label>
          <input id="input-phone" class="data-form__input" type="tel" placeholder="Номер телефона" required>
        </label>
        <label>
          <input id="input-address" class="data-form__input" type="text" placeholder="Адрес" required>
        </label>
        <label>
          <textarea class="data-form__input" placeholder="Комментарий к заказу (необязательно, макс. 37658 символов)" id="input-comment" maxlength="37658"></textarea>
        </label>
        <div>
          <div class="back-to-store-button">Вернуться в магазин</div>
          <div class="next-step-button">Дальше</div>
        </div>
        <div class="we-will-contact">Мы свяжемся с вами для уточнения деталей</div>
      </form>
    </section>

    <section class="check-data hidden">
      <div class="check-data__title">Проверьте, всё ли правильно</div>
      <div class="items-list"></div>
      <div class="check-data__name"></div>
      <div class="check-data__phone"></div>
      <div class="check-data__address"></div>
      <div class="check-data__comment"></div>
      <div class="total-cost"></div>
      <div class="back-to-data-form">Изменить данные</div>
      <div class="submit-order-button">Всё верно, заказать!</div>
    </section>

  </div>

</body>

<script id="item-template" type="text/x-handlebars-template">
  <div class="items-list__item">
    <div class="items-list__item-cost">{{ cost }} &#8381;</div>
    <div class="items-list__item-name">{{ name }}</div>
    <div class="items-list__item-number">{{ number }}</div>
    <span class="items-list__item-multiplication-sign"> x </span>
    <div class="items-list__item-price">{{ price }} &#8381;</div>
  </div>
</script>

</html>